/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

menulist {
  -moz-appearance: menulist;
  margin: 2px 4px;
  min-height: 20px !important;
}

.menulist-label-box {
  -moz-appearance: menulist-text;
  -moz-box-align: center;
  -moz-box-pack: center;
  background-color: #CCCCCC;
border: 1px solid blue;
}

.menulist-label {
  margin: 1px 3px !important;
}

/* ..... dropmarker ..... */

.menulist-dropmarker {
  display: none;
}

/* ..... disabled state ..... */

menulist[disabled="true"] {
  color: GrayText;
}

menulist[disabled="true"] > .menulist-dropmarker {
  padding-inline-start: 7px !important;
}

/* ::::: editable menulists ::::: */

menulist[editable="true"] {
  -moz-user-focus: normal;
}

menulist[editable="true"] > .menulist-dropmarker {
  -moz-border-left-colors: #000000 #CCCCCC #FFFFFF;
  border-radius: 2px;
}

menulist[editable="true"][open="true"] > .menulist-dropmarker {
  -moz-border-left-colors: #000000 #454545 #555555;
}

.menulist-editable-box {
  margin: -1px 1px -2px -5px;
  padding: 0 2px;
  border: 1px solid #CCCCCC;
  background-color: -moz-Field;
  color: -moz-FieldText;
  -moz-box-align: center;
}

menulist[editable="true"][focused="true"] > .menulist-editable-box {
  -moz-border-top-colors: -moz-mac-focusring -moz-mac-focusring #000000;
  -moz-border-right-colors: -moz-mac-focusring -moz-mac-focusring #000000;
  -moz-border-bottom-colors: -moz-mac-focusring -moz-mac-focusring #000000;
  -moz-border-left-colors: -moz-mac-focusring -moz-mac-focusring #000000;
}

html|*.menulist-editable-input {
  margin: 0px !important;
  border: none !important;
  padding: 0px !important;
  background: inherit;
  font: inherit;
}

/* ::::: compact menulists ::::: */

.menulist-compact {
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 0;
  border: 2px solid;
  -moz-border-top-colors: ThreeDLightShadow ThreeDHighlight;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDLightShadow ThreeDHighlight;
  background-color: -moz-Dialog;
}

.menulist-compact > .menulist-label {
  margin: 0 3px !important;
  text-align: end;
}  

.menulist-compact > .menulist-dropmarker {
  margin-inline-start: 2px;
  border: none;
  padding: 0 !important;
  background: transparent;
}

.menulist-compact[open="true"] {
  -moz-border-top-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDDarkShadow ThreeDShadow;
  background-color: ThreeDShadow;
}


listbox menulist:not([disabled]) {
  color: #000;
}
