/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== menu.css =======================================================
  == Styles used by XUL menu-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: menu/menuitem ::::: */

menu,
menuitem {
  -moz-appearance: menuitem;
  -moz-box-align: center;
  color: MenuText;
  font: -moz-pull-down-menu;
  list-style-image: none;
  -moz-image-region: auto;
  padding: 0 18px 2px;
}

menu[disabled="true"], menuitem[disabled="true"],
menu[_moz-menuactive="true"][disabled="true"],
menuitem[_moz-menuactive="true"][disabled="true"] {
  color: -moz-mac-menutextdisable;
}

/* ..... internal content .... */

.menu-text,
.menu-iconic-text,
.menu-accel,
.menu-iconic-accel {
  margin: 0 !important;
  color: inherit;
}

.menu-text,
.menu-iconic-text {
  font-weight: inherit;
}

.menu-description {
  font-style: italic;
  color: -moz-mac-menutextdisable;
  -moz-margin-start: 1ex !important;
}

.menu-accel,
.menu-iconic-accel {
  margin: 0px 2px 0px 2px !important;
  padding-right: 10px;
  color: inherit;
}

/* menuitems with icons */
.menuitem-iconic,
.menu-iconic,
menuitem[image],
menuitem[src] {
  color: inherit;
}

.menuitem-iconic > .menu-iconic-left > .menu-iconic-icon,
.menu-iconic > .menu-iconic-left > .menu-iconic-icon,
menuitem[image] > .menu-iconic-left > .menu-iconic-icon,
menuitem[src] > .menu-iconic-left > .menu-iconic-icon {
  -moz-margin-start: 0;
  width: 16px;
  height: 16px;
  list-style-image: inherit;
}

menuitem[type="checkbox"] > .menu-iconic-left,
menuitem[type="radio"] > .menu-iconic-left {
  margin: 0 2px 0 0 !important;
 }

/* ..... menu arrow box ..... */

.menu-right {
  margin: 0px 8px 0px 6px;
  width: 8px;
  list-style-image: url("chrome://global/skin/menu/osx/menu-arrow.gif");
  -moz-image-region: auto;
}

.menu-right[_moz-menuactive="true"] {
  list-style-image: url("chrome://global/skin/menu/osx/menu-arrow-hov.gif");
  -moz-image-region: auto;
}

.menu-right[disabled="true"] {
  list-style-image: url("chrome://global/skin/menu/osx/menu-arrow-dis.gif") !important;
  -moz-image-region: auto;
}

/* ::::: menu/menuitems in menubar ::::: */

menubar > menu {
  -moz-appearance: none;
  padding: 2px 5px 2px 7px;
  margin: 1px 0;
}

menubar > menu[_moz-menuactive="true"][open="true"] {
  -moz-appearance: menuitem ;
  color: -moz-mac-menutextselect
}

/* ..... internal content .... */

.menubar-left {
  margin: 0px 2px 0px 0px;
  color: inherit;
}

.menubar-text {
  margin: 0px 2px 0px 0px !important;
  color: inherit;
}

/* ::::: menu/menuitems in popups ::::: */

menupopup > menu,
menupopup > menuitem {
  max-width: 42em;
  min-height: 19px;
}

menu[_moz-menuactive="true"],
menuitem[_moz-menuactive="true"] {
  color: -moz-mac-menutextselect;
  background-color: Highlight;
}

/* ::::: menu/menuitems in menulist popups ::::: */

.menulist-menupopup > menuitem,
menulist > menupopup > menuitem,
.menulist-menupopup > menu,
menulist > menupopup > menu {
  padding-right: 25px !important;
  max-width: none;
  font: -moz-pull-down-menu;
  color: -moz-FieldText;
}

.menulist-menupopup > menuitem > .menu-iconic-left,
menulist > menupopup > menuitem > .menu-iconic-left,
.menulist-menupopup > menu > .menu-iconic-left,
menulist > menupopup > menu > .menu-iconic-left {
  margin: 0 2px 0 0 !important;
}

/* ::::: menuitems in editable menulist popups ::::: */

menulist[editable="true"] > menupopup > menuitem {
  -moz-appearance: none;
}

menulist[editable="true"] > menupopup > menuitem > .menu-iconic-left {
  display: none;
}

/* ::::: checked menuitems ::::: */

:not(menulist) > menupopup > menuitem[checked="true"],
:not(menulist) > menupopup > menuitem[selected="true"] {
  -moz-appearance: checkmenuitem;
}

menulist:not([editable="true"]) > menupopup > menuitem[checked="true"]::before,
menulist:not([editable="true"]) > menupopup > menuitem[selected="true"]::before {
  content: '\2713'; /* a checkmark */
  display: block;
  width: 15px;
  -moz-margin-start: -15px;
}

/* ::::: menuseparator ::::: */

menuseparator {
  -moz-appearance: menuseparator;
  margin: 5px 0;
  padding: 1px 0 !important;
}

/* ::::: menulist popup ::::: */
menulist > menupopup {
  margin: 4px 0px 4px 0px;
}

/* ::::: autocomplete ::::: */

.autocomplete-history-popup > menuitem {
  max-width: none !important;
  font: message-box;
}

/* ::::: tree column picker ::::: */

.treecell-popupcell-menu {
  margin-left: -2px;
  list-style-image: url("chrome://global/skin/columnselect.gif");
  -moz-image-region: auto;
}
