/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**** folder menulist ****/
.folder-icon > .menulist-label-box > .menulist-icon {
  width: 16px;
  height: 16px;
}

.folder-icon > .menu-iconic-left {
  display: -moz-box;
}

.folder-icon {
  list-style-image: url("chrome://global/skin/icons/folder-item.png") !important;
  -moz-image-region: rect(0px, 32px, 16px, 16px) !important;
}

/**** expander ****/
#expander {
  min-width: 0;
}

.up {
  list-style-image: url("chrome://global/skin/arrow/arrow-up.gif");
}

.up:hover {
  list-style-image: url("chrome://global/skin/arrow/arrow-up-hov.gif");
}

.down {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
}

.down:hover {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn-hov.gif");
}
