/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/*** Panel and outer controls ***/

#downloadsPanel > .panel-arrowcontainer > .panel-arrowcontent {
  padding: 0;
}

#downloadsListBox {
  background-color: transparent;
  padding: 4px;
  color: inherit;
}

#downloadsHistory {
  background: transparent;
  color: -moz-nativehyperlinktext;
  cursor: pointer;
}

#downloadsHistory > .button-box {
  margin: 1em;
}

@media (-moz-windows-default-theme) {
  #downloadsPanel[hasdownloads] > #downloadsHistory {
    background-color: hsla(216,45%,88%,.98);
    box-shadow: 0px 1px 2px rgb(204,214,234) inset;
  }
}

/*** List items ***/

richlistitem[type="download"] {
  height: 7em;
  -moz-padding-end: 0;
  color: inherit;
}
richlistitem[type="download"] {
  margin: 0;
  border-top: 1px solid hsla(0,0%,100%,.3);
  border-bottom: 1px solid hsla(220,18%,51%,.25);
  background: transparent;
  padding: 8px;
}

richlistitem[type="download"]:first-child {
  border-top: 1px solid transparent;
}

@media (-moz-windows-default-theme) {
  richlistitem[type="download"]:last-child {
    border-bottom: 1px solid transparent;
  }
}

#downloadsListBox:-moz-focusring > richlistitem[type="download"][selected] {
  outline: 1px #999 dotted;
  outline-offset: -1px;
  -moz-outline-radius: 3px;
}

.downloadTypeIcon {
  -moz-margin-end: 8px;
  /* Prevent flickering when changing states. */
  min-height: 32px;
  min-width: 32px;
}

.blockedIcon {
  list-style-image: url("chrome://global/skin/icons/Error.png");
}

#downloadsSummaryDescription,
.downloadTarget {
  margin-bottom: 6px;
  cursor: inherit;
}

.downloadDetails {
  opacity: 0.6;
  font-size: 90%;
  cursor: inherit;
}

.downloadButton {
  -moz-appearance: none;
  min-width: 0;
  min-height: 0;
  margin: 3px;
  border: none;
  background: transparent;
  padding: 5px;
  list-style-image: url("chrome://browser/skin/downloads/buttons.png");
}

.downloadButton > .button-box {
  padding: 0;
}

/*** Highlighted list items ***/

richlistitem[type="download"][state="1"]:hover {
  border-radius: 3px;
  border-top: 1px solid hsla(0,0%,100%,.2);
  border-bottom: 1px solid hsla(0,0%,0%,.2);
  background-color: Highlight;
  color: HighlightText;
  cursor: pointer;
}

/*** Button icons ***/

.downloadButton.downloadCancel {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

.downloadButton.downloadShow {
  list-style-image: url("chrome://global/skin/icons/folder-item.png");
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadShow {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

.downloadButton.downloadRetry {
  -moz-image-region: rect(0px, 64px, 16px, 48px);
}


@media (-moz-windows-default-theme) {
  #downloadsPanel[hasdownloads] > #downloadsHistory {
    background-color: #f1f5fb;
}

  richlistitem[type="download"] {
    border: 1px solid transparent;
    border-bottom: 1px solid hsl(213,40%,90%);
  }

  richlistitem[type="download"][state="1"]:hover {
    border: 1px solid hsl(213,45%,65%);
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.5) inset,
                0 1px 0 hsla(0,0%,100%,.3) inset;
    background-image: -moz-linear-gradient(hsl(212,86%,92%), hsl(212,91%,86%));
    color: black;
  }
}

@media (-moz-windows-compositor) {
  #toolbar-menubar #downloads-indicator-icon:not(:-moz-lwtheme),
  #TabsToolbar[tabsontop=true] #downloads-indicator-icon:not(:-moz-lwtheme),
  #navigator-toolbox[tabsontop=false] > #nav-bar #downloads-indicator-icon:not(:-moz-lwtheme),
  #nav-bar + #customToolbars + #PersonalToolbar[collapsed=true] + #TabsToolbar[tabsontop=false]:last-child #downloads-indicator-icon:not(:-moz-lwtheme) {
    list-style-image: url("chrome://browser/skin/Toolbar-inverted.png");
  }

  #toolbar-menubar #downloads-indicator-counter:not(:-moz-lwtheme),
  #TabsToolbar[tabsontop=true] #downloads-indicator-counter:not(:-moz-lwtheme),
  #navigator-toolbox[tabsontop=false] > #nav-bar #downloads-indicator-counter:not(:-moz-lwtheme),
  #nav-bar + #customToolbars + #PersonalToolbar[collapsed=true] + #TabsToolbar[tabsontop=false]:last-child #downloads-indicator-counter:not(:-moz-lwtheme) {
    color: black;
    text-shadow: 0 0 1px rgba(255,255,255,.7),
                 0 1px 1.5px rgba(255,255,255,.5);
  }
}