/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


html {
  background: -moz-Dialog;
}

body {
  margin: 0;
  padding: 0 1em;
  color: -moz-FieldText;
  font: message-box;
}

h1 {
  margin: 0 0 .6em 0;
  border-bottom: 1px solid ThreeDLightShadow;
  font-size: 160%;
}

h2 {
  font-size: 130%;
}

#errorPageContainer {
  position: relative;
  min-width: 13em;
  max-width: 52em;
  margin: 4em auto;
  border: 1px solid #FFBD09; /* pale yellow extracted from yellow passport icon */
  border-radius: 10px;
  padding: 3em;
  padding-inline-start: 30px;
  background: url("chrome://global/skin/icons/sslWarning.png") left 0 no-repeat -moz-Field;
  background-origin: content-box;
}

#errorPageContainer:-moz-locale-dir(rtl) {
  background-position: right 0;
}

#errorTitle {
  margin-inline-start: 80px;
}

#errorLongContent {
  margin-inline-start: 80px;
}

.expander > button {
  padding-inline-start: 20px;
  margin-inline-start: -20px;
  background: url("chrome://browser/skin/aboutCertError_sectionExpanded.png") left center no-repeat;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.expander > button:-moz-locale-dir(rtl) {
  background-position: right center;
}

.expander[collapsed] > button {
  background-image: url("chrome://browser/skin/aboutCertError_sectionCollapsed.png");
}

.expander[collapsed] > button:-moz-locale-dir(rtl) {
  background-image: url("chrome://browser/skin/aboutCertError_sectionCollapsed-rtl.png");
}
#certificateErrorDebugInformation {
  display: none;
  position: relative;
  min-width: 13em;
  max-width: 52em;
  border-radius: 10px;
  background: -moz-Field;
  margin: 4em auto;
  border: 1px solid rgb(255, 189, 9);
  padding: 3em;
  padding-inline-start: 30px;
}

#certificateErrorText {
  font-family: monospace;
  white-space: pre-wrap;
  padding: 1em 0;
}

#errorCode {
  white-space: nowrap;
}

/* Advanced section is hidden via inline styles until the link is clicked */
#advancedPanel {
  background-color: white;
  color: var(--in-content-text-color);
  border: 1px lightgray solid;
  /* Don't use top padding because the default p style has top padding, and it
   * makes the overall div look uneven */
  padding: 0 12px 10px;
  margin-top: 10px;
}

.hostname {
  font-weight: bold;
}

#automaticallyReportInFuture {
  cursor: pointer;
}

#reportCertificateErrorRetry,
#certificateErrorReporting,
#reportSendingMessage,
#reportSentMessage {
  display: none;
}
