#error-box {
  background: url('chrome://global/skin/icons/information-24.png') no-repeat left 4px;
  padding-inline-start: 30px;
}

#error-box:-moz-locale-dir(rtl) {
  background-position: right 4px;
}

#main-error-msg {
  color: #4b4b4b;
  font-weight: bold;
}

#report-box {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  display: none;
}

.crashDumpAvailable #report-box {
  display: block
}

.button-container {
/*  text-align: center;*/
  width: 75% !important;
  margin: 0 auto;
}

.container p {
  margin-inline-start: 80px !important;
  overflow: auto;
  border-bottom: 1px solid ThreeDLightShadow;
  padding-bottom: 1em;
  font-size: 130%;
  white-space: pre-wrap;
  display: block;
  margin: 1em 0px;
}