/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 *  This defines the look-and-feel styling of the error pages.
 *  (see: netError.xhtml)
 *
 *  Original styling by William Price <bugzilla@mob.rice.edu>
 *  Updated by: Steven Garrity <steven@silverorange.com>
 *              Henrik Skupin  <mozilla@hskupin.info>
 */

html {
  background: -moz-Dialog;
}

body {
  margin: 0;
  padding: 0 1em;
  color: -moz-FieldText;
  font: message-box;
  display: block;
  min-height: 0;
}

h1 {
  margin: 0 0 .6em 0;
  border-bottom: 1px solid ThreeDLightShadow;
  font-size: 160%;
}

ul, ol {
  margin: 0;
  margin-inline-start: 1.5em;
  padding: 0;
}

ul > li, ol > li {
  margin-bottom: .5em;
}

ul {
  list-style: square outside none;
}

#errorPageContainer {
  position: relative;
  min-width: 13em;
  max-width: 52em;
  margin: 4em auto;
  border: 1px solid ThreeDShadow;
  border-radius: 10px;
  padding: 3em;
  padding-inline-start: 30px;
  background: url("chrome://global/skin/icons/warning-large.png") left 0 no-repeat -moz-Field;
  background-origin: content-box;
}

#errorPageContainer.certerror {
  background-image: url("chrome://global/skin/icons/sslWarning.png");
}

#errorTitleText {
  background: none;
  margin-inline-start: 0;
  padding-inline-start: 0;
}

#errorPageContainer:-moz-dir(rtl) {
  background-position: right 0;
}

#errorTitle,
.title {
  margin-inline-start: 80px;
}

#errorLongContent {
  margin-inline-start: 80px;
}

#errorShortDesc > p {
  overflow: auto;
  border-bottom: 1px solid ThreeDLightShadow;
  padding-bottom: 1em;
  font-size: 130%;
  white-space: pre-wrap;
}

#errorLongDesc {
  padding-inline-end: 3em;
  font-size: 110%;
}

#errorLongDesc > p {
}

#errorTryAgain {
  margin-top: 2em;
  margin-inline-start: 80px;
  min-width: 0;
}

#brand {
  position: absolute;
  right: 0;
  bottom: -1.5em;
  margin-inline-end: 10px;
  opacity: .4;
}

#brand:-moz-dir(rtl) {
  right: auto;
  left: 0;
}

#brand > p {
  margin: 0;
}

#errorContainer {
  display: none;
}

#securityOverrideDiv {
  padding-top: 10px;
}

#securityOverrideContent {
  background-color: InfoBackground;
  color: InfoText;
  padding: 10px;
  border-radius: 10px;
}

/* Custom styling for 'blacklist' error class */
:root.blacklist #errorTitle, :root.blacklist #errorLongContent,
:root.blacklist #errorShortDesc, :root.blacklist #errorLongDesc,
:root.blacklist a {
  background-color: #722; /* Dark red */
  color: white;
}

:root.blacklist #errorPageContainer {
  background-image: url("chrome://global/skin/icons/blacklist_large.png");
  background-color: #722;
}

:root.blacklist {
  background: #333;
}

:root.blacklist #errorTryAgain {
  display: none;
}

/* Pressing the retry button will cause the cursor to flicker from a pointer to
 * not-allowed. Override the disabled cursor behaviour since we will never show
 * the button disabled as the initial state. */
button:disabled {
  cursor: pointer;
}

#prefChangeContainer {
  display: none;
}

#learnMoreContainer {
  display: none;
}

#certErrorAndCaptivePortalButtonContainer {
  display: none;
}

body:not(.neterror) #certErrorAndCaptivePortalButtonContainer {
  display: flex;
}

body:not(.neterror) #netErrorButtonContainer {
  display: none;
}

#errorTryAgain {
  margin-top: 1.2em;
  min-width: 150px;
}

#returnButton {
  min-width: 250px;
}

#advancedButton {
  display: none;
}

body.captiveportal #returnButton {
  display: none;
}

body:not(.captiveportal) #openPortalLoginPageButton {
  display: none;
}

#openPortalLoginPageButton {
  margin-inline-start: 0;
}

body:not(.neterror) #advancedButton {
  display: block;
}

#certificateErrorReporting {
  display: none;
}

.container {
  position: relative;
}

#advancedPanelContainer {
  position: absolute;
  padding: 24px 0;
  width: 100%;
}

.advanced-panel {
  /* Hidden until the link is clicked */
  display: none;
  background-color: white;
  border: 1px lightgray solid;
  /* Don't use top padding because the default p style has top padding, and it
   * makes the overall div look uneven */
  padding: 0 12px 12px 12px;
  box-shadow: 0 0 4px #ddd;
  font-size: 0.9em;
}

#overrideWeakCryptoPanel {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
  margin-top: 1em;
}

span#hostname {
  font-weight: bold;
}

#automaticallyReportInFuture {
  cursor: pointer;
}

#errorCode:not([href]) {
  color: var(--in-content-page-color);
  cursor: text;
  text-decoration: none;
}

#errorCode[href] {
  white-space: nowrap;
}

#badCertTechnicalInfo {
  overflow: auto;
  white-space: pre-wrap;
}

#certificateErrorReporting {
  display: none;
}

#certificateErrorDebugInformation {
  display: none;
  background-color: var(--in-content-box-background-hover) !important;
  border-top: 1px solid var(--in-content-border-color);
  position: absolute;
  left: 0%;
  top: 100%;
  width: 65%;
  padding: 1em 17.5%;
}

#certificateErrorText {
  font-family: monospace;
  white-space: pre-wrap;
  padding: 1em 0;
}
