/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.searchbar-textbox {
  min-height: 22px;
  width: 6em;
  min-width: 6em;
  background-color: -moz-field;
  -moz-appearance: none;
  border-width: 0;
  padding: 0;
}

.textbox-input-box {
  margin: 0;
  border: 1px solid #96969D;
}

/* ::::: searchbar-engine-button ::::: */

.searchbar-engine-image {
  height: 16px;
  width: 16px;
  list-style-image: url("chrome://global/skin/icons/folder-item.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
  margin-inline-start: 3px;
}

.searchbar-engine-button {
  -moz-appearance: none;
  min-width: 0;
  margin: 0;
  margin-inline-end: 3px;
  padding: 2px 0;
  border: 0;
  -moz-box-align: center;
  background-color: -moz-dialog;
  -moz-appearance: toolbox;
  outline: 1px solid ThreeDShadow;
  margin-inline-start: -1px;
  -moz-outline-radius-topleft: 2px;
  -moz-outline-radius-bottomleft: 2px;
}

.searchbar-engine-button:-moz-locale-dir(rtl) {
  -moz-outline-radius-topleft: 0;
  -moz-outline-radius-bottomleft: 0;
  -moz-outline-radius-topright: 2px;
  -moz-outline-radius-bottomright: 2px;
}

.searchbar-engine-button:hover {
  outline-color: ThreeDDarkShadow;
}

.searchbar-engine-button > .button-box {
  -moz-appearance: none;
  padding: 0;
  padding-inline-end: 3px;
  border: 0;
}

/* blue halo */
searchbar[addengines="true"] .searchbar-engine-button > .button-box {
  background: transparent url("chrome://browser/skin/Search-addengines.png") no-repeat right center;
}

.searchbar-engine-button:-moz-locale-dir(rtl)[addengines="true"] {
  background-position: left center;
}

.searchbar-dropmarker-image {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
  margin-inline-start: 3px;
}

/* ::::: search-go-button ::::: */

.search-go-container {
  -moz-box-align: center;
}

.search-go-button {
  list-style-image: url("chrome://browser/skin/Search-glass.png");
  -moz-image-region: rect(3px 20px 19px 4px);
  outline: 1px solid ButtonShadow !important;
  background-color: -moz-Dialog !important;
  -moz-outline-radius-topright: 3px !important;
  -moz-outline-radius-bottomright: 3px !important;
  padding: 2px 4px 2px 4px; /* not sure if this is correct - it may cause other problems */
}

.search-go-button:-moz-locale-dir(rtl) {
  list-style-image: url("chrome://browser/skin/Search-glass-rtl.png");
}

.search-go-button:hover {
  -moz-image-region: rect(3px 45px 19px 29px);
}

.search-go-button[disabled="true"] {
  -moz-image-region: rect(3px, 70px, 19px, 54px);
}

.search-go-button:hover:active {
  -moz-image-region: rect(3px, 95px, 19px, 79px);
}

.searchbar-engine-menuitem[selected="true"] > .menu-iconic-text {
  font-weight: bold;
}

.search-panel-current-engine {
  border-top: none !important;
  border-bottom: 1px solid #ccc;
  -moz-box-align: center;
}

.search-panel-header {
  font-weight: normal;
  background-color: rgb(245, 245, 245);
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 3px 6px;
  color: #666;
}

.search-panel-current-input > label {
  margin: 0 0 !important;
}

.search-panel-input-value {
  color: black;
}

.search-panel-one-offs {
  margin: 0 0 !important;
  border-top: 1px solid #ccc;
  line-height: 0;
}

.searchbar-engine-one-off-item {
  -moz-appearance: none;
  display: inline-block;
  border: none;
  min-width: 48px;
  height: 32px;
  margin: 0 0;
  padding: 0 0;
  background: none;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAWCAYAAAABxvaqAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gofECQNNVW2/AAAABBJREFUGFdjOHPmzH8GehEA/KpKg9YTf4AAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-position: right center;
}

.searchbar-engine-one-off-item:not(.last-row) {
  box-sizing: content-box;
  border-bottom: 1px solid #ccc;
}

.searchbar-engine-one-off-item.last-of-row {
  background-image: none;
}

.searchbar-engine-one-off-item:hover:not(.dummy),
.searchbar-engine-one-off-item[selected] {
  background-color: Highlight;
  background-image: none;
}

.searchbar-engine-one-off-item > .button-box {
  border: none;
  padding: 0 0;
}

.searchbar-engine-one-off-item > .button-box > .button-text {
  display: none;
}

.searchbar-engine-one-off-item > .button-box > .button-icon {
  width: 16px;
  height: 16px;
}

#PopupSearchAutoComplete .addengine-item {
  -moz-appearance: none;
  border: none;
  height: 32px;
  margin: 0 0;
  padding: 0 10px;
}

#PopupSearchAutoComplete .addengine-item > .button-box {
  -moz-box-pack: start;
}

#PopupSearchAutoComplete .addengine-item:first-of-type {
  border-top: 1px solid #ccc;
}

#PopupSearchAutoComplete .addengine-item:hover {
  background-color: Highlight;
  color: HighlightText;
}

#PopupSearchAutoComplete .addengine-icon {
  width: 16px;
}

#PopupSearchAutoComplete .addengine-item > .button-box > .button-text {
  -moz-box-flex: 1;
  text-align: start;
  padding-inline-start: 10px;
}

#PopupSearchAutoComplete .addengine-item:not([image]) {
  list-style-image: url("chrome://browser/skin/search-engine-placeholder.png");
}

/* unhide go button */
.search-go-button[hidden="true"] {
  display: -moz-box
}

.search-panel-tree > .autocomplete-treebody::-moz-tree-cell {
  padding-inline-start: 15px;
  border-top: none !important;
}

.search-setting-button {
  -moz-appearance: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  -moz-border-top-colors: none;
  min-height: 32px;
}

.search-setting-button:hover {
  background-color: #d3d3d3;
  border-top-color: #bdbebe;
}
