/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* FF25 findBar fix */
findbar {
  background: -moz-dialog
}
findbar {
  transition: none;
  height: initial;
  position: initial
}

.findbar-close-button {
  -moz-box-ordinal-group: 1
}
.findbar-container {
  -moz-box-ordinal-group: 2
}

findbar .find-closebutton {
  -moz-box-ordinal-group: 1
}
findbar > hbox > hbox {
  -moz-box-ordinal-group: 2
}
.findbar-find-previous,
.findbar-find-next {
  -moz-box-ordinal-group: 9
}
.findbar-highlight {
  -moz-box-ordinal-group: 4
}
.findbar-case-sensitive {
  -moz-box-ordinal-group: 7
}
findbar .find-status-icon {
-moz-box-ordinal-group: 8
}
findbar .findbar-find-fast,
findbar .find-status {
-moz-box-ordinal-group: 9
}
findbar spacer {
-moz-box-ordinal-group: 9
}

/* selected button state fix */
.findbar-find-previous, .findbar-find-next,
.findbar-highlight, .findbar-case-sensitive {
  -moz-appearance: none !important
}

.findbar-closebutton {
  border: 1px solid transparent;
  padding: 3px 2px 4px 2px;
  list-style-image: url("chrome://global/skin/icons/close.png");
  -moz-appearance: none;
  -moz-image-region: rect(0, 16px, 16px, 0);
}

.findbar-closebutton > .toolbarbutton-icon {
  margin-inline-end: 0;
  padding-inline-end: 2px;
  padding-inline-start: 2px;
}

.findbar-closebutton:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

.findbar-closebutton:hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}

findbar {
  -moz-appearance: none !important;
  border-top: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDHighlight !important;
  border-bottom: 1px solid;
  -moz-border-bottom-colors: transparent;
  min-width: 1px;
}

/* find-next button */

.findbar-find-next {
  list-style-image: url("chrome://global/skin/icons/find.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

.findbar-find-next:hover {
  -moz-image-region: rect(16px 16px 32px 0px);
}

.findbar-find-next[disabled="true"] {
  -moz-image-region: rect(32px 16px 48px 0px) !important;
}

/* find-previous button */

.findbar-find-previous {
  list-style-image: url("chrome://global/skin/icons/find.png");
  -moz-image-region: rect(0px 32px 16px 16px);
}

.findbar-find-previous:hover {
  -moz-image-region: rect(16px 32px 32px 16px);
}

.findbar-find-previous[disabled="true"] {
  -moz-image-region: rect(32px 32px 48px 16px) !important;
}

/* highlight button */

.findbar-highlight {
  list-style-image: url("chrome://global/skin/icons/find.png");
  -moz-image-region: rect(0px 48px 16px 32px);
}

.findbar-highlight:hover {
  -moz-image-region: rect(16px 48px 32px 32px);
}

.findbar-highlight[disabled="true"] {
  -moz-image-region: rect(32px 48px 48px 32px) !important;
}

.findbar-highlight:active, .findbar-highlight[checked="true"] {
  -moz-image-region: rect(48px 48px 64px 32px);
}

.findbar-highlight[checked="true"]:hover {
  -moz-image-region: rect(64px 48px 80px 32px);
}

.find-status-icon {
  list-style-image: none;
  margin-top: 2px;
  margin-bottom: 0px;
  margin-inline-start: 12px;
  margin-inline-end: 0px;
  width: 16px;
  height: 16px;
}

.findbar-find-status {
  margin: 0 !important;
  margin-inline-start: 3px !important;
  padding: 2px !important;
}

.find-status-icon[status="notfound"] {
  list-style-image: url("chrome://global/skin/icons/notfound.png");
}

.findbar-textbox {
  -moz-binding: url("chrome://global/content/bindings/findbar.xml#findbar-textbox");
  -moz-appearance: textfield;
  border: none;
  margin: 0px;
}

.findbar-textbox[status="notfound"] {
  box-shadow: 0 0 0 1em #f66 inset;
  color: white;
}

.findbar-textbox[flash="true"] {
  box-shadow: 0 0 0 1em yellow inset;
  color: black;
}

.find-status-icon[status="wrapped"] {
  list-style-image: url("chrome://global/skin/icons/wrap.png");
}
