/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== textbox.css ==================================================
  == Styles used by the XUL textbox element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* ::::: textbox ::::: */

textbox {
  -moz-appearance: textfield;
  cursor: text;
  margin: 2px 4px;
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
  padding: 2px 2px 3px;
  -moz-padding-start: 4px;
  background-color: -moz-Field;
  color: -moz-FieldText;
}

html|*.textbox-input, 
html|*.textbox-textarea {
  margin: 0px !important;
  border: none !important;
  padding: 0px !important;
  background-color: inherit;
  color: inherit;
  font: inherit;
}

html|*.textbox-input::-moz-placeholder,
html|*.textbox-textarea::-moz-placeholder {
  color: GrayText;
  padding-left: 2px;
  opacity: 1;
}
/* Firefox 4-18 compatible placeholder color, WILL produce an error in the Error Console */
html|*.textbox-input:-moz-placeholder,
html|*.textbox-textarea:-moz-placeholder {
  color: GrayText;
  padding-left: 2px;
}

.textbox-contextmenu {
  cursor: default;
}

/* ..... readonly state ..... */

textbox[readonly="true"] {
  background-color: -moz-Dialog;
  color: -moz-DialogText;
}

/* ..... disabled state ..... */

textbox[disabled="true"] {
  cursor: default;
  background-color: -moz-Dialog;
  color: GrayText;
}

/* ..... focused state ..... */
textbox[focused="true"] html|*.textbox-input::-moz-placeholder {
  opacity: 0;
}
textbox[focused="true"] html|*.textbox-input:-moz-placeholder {
  color: transparent;
}

/* ::::: plain textbox ::::: */

textbox.plain {
  -moz-appearance: none !important;
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
}

/* ::::: textboxes inside toolbarpaletteitems ::::: */

toolbarpaletteitem > toolbaritem > textbox > .textbox-input-box > html|*.textbox-input {
  visibility: hidden;
}

