/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== toolbar.css ====================================================
  == Styles used by XUL toolbar-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: toolbox ::::: */

toolbox {
  -moz-appearance: none;
  background-color: -moz-Dialog;
  border-top: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDHighlight;
}

@media all and (-moz-windows-compositor) {
#navigator-toolbox {
  border-top: 2px solid !important;
  -moz-border-top-colors: ThreeDShadow ThreeDHighlight !important;
}

toolbox {
  -moz-appearance: none !important;
  background-color: -moz-Dialog !important;
  border-top: 1px solid !important;
  -moz-border-top-colors: ThreeDHighlight !important;
  }
}


/* ::::: toolbar & menubar ::::: */

/*toolbar, menubar {
  -moz-appearance: toolbar;
}*/

toolbar {
  min-width: 1px;
  min-height: 19px;
  border-top: 1px solid ThreeDHighlight;
  border-bottom: 1px solid ThreeDShadow;
}

toolbar:first-child, menubar {
  min-width: 1px;
  border-bottom: 1px solid ThreeDShadow;
  border-top: 0px !important;
}

toolbar[mode="icons"] .toolbarbutton-text {
  display: none;
}

toolbar[mode="text"] .toolbarbutton-icon {
  display: none;
}

toolbar[mode="text"] .toolbarbutton-text {
  padding: 0 !important;
  margin: 3px 5px !important;
}

/* ::::: lightweight theme ::::: */
 
menubar:-moz-lwtheme,
toolbox:-moz-lwtheme,
toolbar:-moz-lwtheme {
  -moz-appearance: none;
  background: none;
}

/* ::::: toolbar decorations ::::: */

toolbarseparator {
  -moz-appearance: separator;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  -moz-border-left-colors  : transparent transparent ThreeDShadow;
  -moz-border-right-colors : transparent transparent ThreeDHighlight;
}

toolbarspacer {
  width: 15px;
}

/* ::::: toolbarpaletteitem ::::: */

toolbarpaletteitem {
  cursor: grab;
}

.toolbarpaletteitem-box[type="spacer"],
.toolbarpaletteitem-box[type="spring"] {
  border: 1px solid #808080;
  background-color: #FFF !important;
}

toolbarpaletteitem[place="toolbar"] {
  margin-left: -2px;
  margin-right: -2px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

toolbarpaletteitem[place="toolbar"] > toolbarspacer {
  width: 11px;
}

.toolbarpaletteitem-box[type="spacer"][place="toolbar"],
.toolbarpaletteitem-box[type="spring"][place="toolbar"] {
  margin-top: 2px;
  margin-bottom: 2px;
  -moz-margin-start: 0px;
  -moz-margin-end: 2px;
}

.toolbarpaletteitem-box[type="separator"][place="palette"] {
  width: 2px;
  height: 50px;
}

.toolbarpaletteitem-box[type="spacer"][place="palette"],
.toolbarpaletteitem-box[type="spring"][place="palette"] {
  margin-bottom: 2px;
  width: 50px;
  height: 50px;
}

.toolbarpaletteitem-box[type="spring"][place="palette"] {
  background: url("chrome://global/skin/toolbar/spring.gif") no-repeat center;
}

/* ..... drag and drop feedback ..... */

toolbarpaletteitem[dragover="left"] {
  border-left-color: #000000;
}

toolbarpaletteitem[dragover="right"] {
  border-right-color: #000000;
}
